psage.egg-info
~
*.pyc
build/
push
dist
\#*
ascent.egg-info
MANIFEST
*.c
*.cpp
*~
*.aux
*.html
*.dvi
*.html
*.log
*.toc
*auto
docs/ascent.pdf
docs/notebook.out
*.so
*.html
a.py
a.sage
go
*.orig

PKG-INFO
setup.cfg
